.nav-container {
    font-size: 14px;
    height: 50px;
    color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    .nav-logo {
        background: url('./assets/eolinker_sim.png') center center no-repeat;
        width: 100px;
        height: 50px;
        display: block;
        margin-left: 30px;
    }
}