<div class="eo-home" (mousemove)="onDragPaneMouseMove($event)" (mouseup)="onDragPaneMouseUp($event)">
    <eo-navbar></eo-navbar>
    <div class="eo-home-container">
        <eo-drag-pane [direction]="'h'" (dragPaneHResize)="onDragPaneResize($event)" [customerPosition]="appStore.leftSideDividerPosition">
            <section>
                <div class="eo-left-content" [ngStyle]="appStore.leftSidePanePosition">

                </div>
            </section>
        </eo-drag-pane>
        <div class="eo-right-content" [ngStyle]="appStore.contentPanePosition">

            <!--request-pane-->

            <eo-pane>
                <div class="service form-horizontal">
                    <div class="flex-row">
                        <span class="cell protocol"> 
                            <eo-action-button [customerStyle]="{'min-width':'80px','text-align':'left'}" [buttonText]="defaultProtocol.text" type="default" [actions]="protocols" (actionClick)="onProtocolClick($event)"></eo-action-button>
                        </span>
                        <span class="cell "> :// </span>
                        <span class="cell-url"> 
                            <eo-url-input (urlChange)='onUrlChange($event)' (enableSend)='onEnableSend($event)' (protocolEmit)='onProtocolEmit($event)' [defaultValue]=""></eo-url-input>
                        </span>
                        <span class="cell"> 
                        </span>
                        <span class="cell http-method">
                            <eo-action-button [customerStyle]="{'min-width':'100px','text-align':'left'}" [buttonText]="defaultMethod.text" type="default" [actions]="methods" (actionClick)="onMethodClick($event)"></eo-action-button>
                        </span>
                        <span class="cell send-button"> 
                            <a class="btn btn-primary btn-block" (click)='onSendingRequest($event)'>
                                <i class="iconfont icon-fasong"></i>
                                发送
                            </a>
                            <!--<eo-action-button (buttonClick)='onSendingRequest($event)' [disabled]='!enableSend' [buttonAction]=true [customerStyle]="{'min-width':'60px','text-align':'left'}" [buttonText]="'Send'" [actions]="[]" icon="glyphicon glyphicon-send" [type]="'primary'"></eo-action-button>-->
                        </span>
                    </div>
                </div>

            </eo-pane>

            <eo-pane [title]="'请求头部：'">
                <!--request header content-->
                <div class="headers">
                    <eo-request-header></eo-request-header>
                </div>
                <a class="btn-header-add">
                    添加
                    <i class="iconfont icon-add"></i>
                </a>
            </eo-pane>


            <eo-pane [title]="'请求参数：'">
                <eo-tabs [(activeTab)]="activeTab">
                    <eo-tab id="tab1" title="Home">
                        <eo-template eoTabContent>
                            <p>
                                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater
                                eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                            </p>
                        </eo-template>
                    </eo-tab>

                    <eo-tab id="tab2" title="Profile">
                        <eo-template eoTabContent>
                            <p>
                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo
                                enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
                                Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo
                                park.
                            </p>
                        </eo-template>
                    </eo-tab>

                    <eo-tab id="tab3" title="Fat">
                        <eo-template eoTabContent>
                            <button class="btn btn-warning" (click)="alert('tab3')"> Alert</button>
                            <p>
                                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy
                                hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably
                                haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.

                            </p>
                        </eo-template>
                    </eo-tab>
                </eo-tabs>
                <!--request header content-->
                <div class="body body-content">
                    <eo-request-body></eo-request-body>

                </div>
            </eo-pane>


            <!--request body content-->

            <!--response body-->
            <eo-pane>
                <!--request data body-->
                <div class="request form-horizontal">

                    <!--request header content-->
                    <div class="headers">
                        <eo-request-header></eo-request-header>

                    </div>


                </div>
            </eo-pane>


            <eo-response-pane>
                <div class="content">
                    <div class="response-status-line response-status-line-error">
                        <div class="status">
                            <a href="http://tools.ietf.org/html/rfc7231#section-6.5.6" target="_blank">406 NOT ACCEPTABLE</a>
                        </div>
                    </div>

                    <div class="h-container">
                        <div class="headers">
                            <div class="sub-label"> <a href="http://tools.ietf.org/html/rfc7230#section-3.2" target="_blank">Headers</a> </div>

                            <div class="h-container">
                                <table class="form-headers">
                                    <tbody>
                                        <tr>
                                            <td><a href="http://www.w3.org/TR/cors/#access-control-allow-credentials-response-header" target="_blank" class="header-link"><span title="Access-Control-Allow-Credentials">Access-Control-Allow-Credentials:</span></a></td>
                                            <td></td>
                                            <td><span title="true">true</span></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <a href="javascript:;" class="btn sent-headers btn-link"><i class="caret"></i> complete request headers </a>
                                <!--hidden form headers-->
                                <div>
                                    <table class="form-headers">
                                        <tbody>
                                            <tr>
                                                <td><a href="http://tools.ietf.org/html/rfc7231#section-5.3.2" target="_blank" class="header-link"><span title="Accept">Accept:</span></a></td>
                                                <td></td>
                                                <td><a class="gwt-Anchor" title="*/*">*/*</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="http://tools.ietf.org/html/rfc7231#section-5.3.5" target="_blank" class="header-link"><span title="Accept-Language">Accept-Language:</span></a></td>
                                                <td></td>
                                                <td><a class="gwt-Anchor" title="zh-CN,zh;q=0.8">zh-CN,zh;q=0.8</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="sent-headers-note">Note: <a href="http://www.w3.org/TR/XMLHttpRequest/#dom-xmlhttprequest-setrequestheader" target="_blank">XHR </a> automatically adds headers like Accept, Accept-Language, Cookie, User-Agent, etc. </div>
                            </div>
                        </div>

                    </div>

                    <eo-response-body></eo-response-body>
                </div>
            </eo-response-pane>

        </div>

        <!--bottom drag pane-->
        <!--<eo-drag-pane [direction]="'v'" (dragPaneVResize)="onDragPaneResize($event)" [customerPosition]="appStore.bottomSideDividerPosition">
            <section>
                <div class="eo-pane" [ngStyle]="appStore.bottomSidePanePosition">
                    Some Operation Tips!
                </div>
            </section>
        </eo-drag-pane>-->
    </div>
</div>