<div class="eo-home" (mousemove)="onDragPaneMouseMove($event)" (mouseup)="onDragPaneMouseUp($event)">
    <eo-navbar></eo-navbar>
    <div class="eo-home-container">
        <eo-drag-pane [direction]="'h'" (dragPaneHResize)="onDragPaneResize($event)" [customerPosition]="appStore.leftSideDividerPosition">
            <section>
                <div class="eo-left-content" [ngStyle]="appStore.leftSidePanePosition">
                    <eo-history></eo-history>
                </div>
            </section>
        </eo-drag-pane>
        <div class="eo-right-content" [ngStyle]="appStore.contentPanePosition">
            <!--request-pane-->
            <eo-pane>
                <div class="service form-horizontal">
                    <div class="flex-row">
                        <span class="cell protocol"> 
                            <eo-action-button [customerStyle]="{'min-width':'80px','text-align':'left'}" [buttonText]="defaultProtocol.text" type="default" [actions]="protocols" (actionClick)="onProtocolClick($event)"></eo-action-button>
                        </span>
                        <span class="cell "> :// </span>
                        <span class="cell-url"> 
                            <eo-url-input (urlChange)='onUrlChange($event)' (enableSend)='onEnableSend($event)' (protocolEmit)='onProtocolEmit($event)' [defaultValue]=""></eo-url-input>
                        </span>
                        <span class="cell"> 
                        </span>
                        <span class="cell http-method">
                            <eo-action-button [customerStyle]="{'min-width':'100px','text-align':'left'}" [buttonText]="defaultMethod.text" type="default" [actions]="methods" (actionClick)="onMethodClick($event)"></eo-action-button>
                        </span>
                        <span class="cell send-button"> 
                            <a class="btn btn-primary btn-block" (click)='onSendingRequest($event)'>
                                <i class="iconfont icon-fasong"></i>
                                发送
                            </a>
                            <!--<eo-action-button (buttonClick)='onSendingRequest($event)' [disabled]='!enableSend' [buttonAction]=true [customerStyle]="{'min-width':'60px','text-align':'left'}" [buttonText]="'Send'" [actions]="[]" icon="glyphicon glyphicon-send" [type]="'primary'"></eo-action-button>-->
                        </span>
                    </div>
                </div>

            </eo-pane>

            <eo-pane [title]="'请求头部：'" retainHead='true'>
                <!--request header content-->
                <div class="headers">
                    <eo-request-header [formData]="appStore.headerFormDatas"></eo-request-header>
                </div>
            </eo-pane>


            <eo-pane [title]="'请求参数：'">

                <!--request header content-->
                <div class="body body-content">
                    <eo-request-body [formData]="appStore.bodyFormDatas"></eo-request-body>
                </div>
            </eo-pane>


            <eo-pane [title]="'返回结果：'">

                <!--response content-->
                <div class="response">
                    <eo-response-pane></eo-response-pane>
                </div>
            </eo-pane>


        </div>

        <!--bottom drag pane-->
        <!--<eo-drag-pane [direction]="'v'" (dragPaneVResize)="onDragPaneResize($event)" [customerPosition]="appStore.bottomSideDividerPosition">
            <section>
                <div class="eo-pane" [ngStyle]="appStore.bottomSidePanePosition">
                    Some Operation Tips!
                </div>
            </section>
        </eo-drag-pane>-->
    </div>
</div>