.row {
    margin-left: -20px;
    &:before,
    &:after {
        display: table;
        line-height: 0;
        content: "";
    }
}

.eo-home-container {}

.eo-left-content {
    width: 280px;
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    background: #fff;
}

.eo-right-content {
    margin-left: 280px;
    overflow: auto;
    bottom: 260px;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: -20;
    left: 0;
}

.eo-pane {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 281px;
    min-height: 0 !important;
    height: 240px;
    padding: 3px 10px 5px 0 !important;
    background-color: #f0f0f0;
    z-index: -10;
}

.headers,
.body {
    width: 100%;
    white-space: nowrap;
}