.response-body {
    font-size: 14px;
    padding: 5px;
    min-height: 70px;
    white-space: pre-wrap;
    line-height: 1.4em;
    width: 100%;
    .unknown {
        padding: 30px 50px 20px 50px;
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        text-shadow: #aaa 0 0 80px;
        font-family: sans-serif, arial;
    }
}

.sub-label {
    a {
        color: #444;
    }
}