<div class="history">
    <div class="history-head">
        测试历史
        <span>
            <i class="iconfont icon-trianglerightfill"></i>
        </span>
    </div>
    <ul>
        <li>
            <div class="status">
                <span class="success">POST</span>
            </div>
            <div class="test-info">
                <p>/Web/Guest/login/Web/Guest/login/Web/Guest/login</p>
                <div class="status-code">
                    <span class="success">200 OK</span>
                    <div class="time">3ms</div>
                </div>
            </div>
        </li>
    </ul>
</div>