.dropdown-menu {
    min-width: 100%;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
    background-color: #fff;
}

.dropdown-menu>li>a {
    cursor: pointer;
}

.btn-default {
    outline: 0;
    &:hover,
    &:active,
    &:visited,
    &:focus {
        background-color: #fff;
    }
    &:active {
        box-shadow: none;
        outline: 0;
    }
}