<div class="request-body-content">
    <div class="float_pane">
        <eo-tabs [(activeTab)]="activeTab">
            <eo-tab id="form-data" title="表单[form-data]">
                <template eoTabContent>
                    <div class="body-content">
                        <eo-form [items]='formData' (emitItemSelect)="onHeadlerFormSelect($event)" (emitItemDelete)="onHeadlerFormDelete($event)" (emitItemChange)="updateFormData($event)"  [type]="'body'"></eo-form>
                        <a class="btn-header-add" (click)="addFormData()">
                            添加
                            <i class="iconfont icon-add"></i>
                        </a>
                    </div>
                </template>
            </eo-tab>

            <eo-tab id="raw" title="源数据[raw]">
                <template eoTabContent>
                    <textarea class="row-content" [(ngModel)]='rawData'></textarea>    
                </template>
            </eo-tab>
        </eo-tabs>
    </div>
</div>