<div class="response-pane">
    <div class="float_pane">
        <eo-tabs [(activeTab)]="activeTab">
            <eo-tab id="form-data" title="body">
                <template eoTabContent>
                    <eo-response-body></eo-response-body>
                </template>
            </eo-tab>

            <eo-tab id="raw" title="header">
                <template eoTabContent>
                    <eo-response-header></eo-response-header>
                </template>
            </eo-tab>
        </eo-tabs>
    </div>
</div>