<div class="response-pane">
    <div class="float_pane">
        <eo-tabs>
            <eo-tab id="body" title="body">
                <template eoTabContent>
                    <eo-response-body [value]="responseData.body" [status]="responseData.status"></eo-response-body>
                </template>
            </eo-tab>

            <eo-tab id="header" title="header">
                <template eoTabContent>
                    <eo-response-header [value]="responseData.headers"></eo-response-header>
                </template>
            </eo-tab>
        </eo-tabs>
    </div>
</div>