.response-pane {
    position: relative;
    .float_pane {
        margin-top: -6px;
    }
    //formate tabs style
    .nav-tabs {
        padding-left: 90px;
        border-bottom-width: 0;
        li {
            box-sizing: border-box;
            a {
                cursor: pointer;
                padding: 7px 12px;
                border-width: 0;
                cursor: pointer;
                box-sizing: border-box;
            }
            &.active {
                background-color: #fff;
                border-bottom: 2px solid #66bb6a;
                a {
                    border: 0 solid transparent;
                }
                &:hover {
                    background-color: #fff;
                    border-bottom: 2px solid #66bb6a;
                    a {
                        border: 0 solid transparent;
                    }
                }
            }
            &:hover {
                background-color: #fff;
                border-bottom: 2px solid #cddeba;
                a {
                    border-color: transparent;
                    background-color: #fff;
                }
            }
        }
    }
}